<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jablo.eobchodandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlockListActivity"
            android:label="@string/title_activity_block_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AllPatientList"
            android:label="@string/patient_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RoomListActivity"
            android:label="@string/title_activity_room_list"
            android:parentActivityName=".WardListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jablo.eobchodandroid.WardListActivity" />
        </activity>
        <activity
            android:name=".PatientsListActivity"
            android:label="@string/title_activity_patients_list"
            android:parentActivityName=".RoomListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jablo.eobchodandroid.RoomListActivity" />
        </activity>
        <activity
            android:name=".PatientDataActivity"
            android:label="@string/title_activity_patient_data"
            android:parentActivityName=".PatientsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jablo.eobchodandroid.PatientsListActivity" />
        </activity>
        <activity
            android:name=".WardListActivity"
            android:label="@string/title_activity_ward_list"
            android:parentActivityName=".BlockListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jablo.eobchodandroid.BlockListActivity" />
        </activity>
    </application>

</manifest>